$color-tipografia: #e9ecef;
$color-tipografia-hover: #b2b5b8;

@mixin centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor-principal {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;

  @include centrado;

  .tarjeta-imagen {
    height: 600px;
    width: 400px;
    img {
      height: 100%;
      width: auto;
    }
  }

  .tarjeta-informacion {
    height: 600px;
    width: 700px;
    margin-left: 50px;
    background-color: hsla(0, 0%, 0%, 0);
    border: 3px solid pink;
    color: $color-tipografia;

    .titulo {
      display: flex;
      @include centrado;
      justify-content: space-between;
    }

    .detalles {
      padding-top: 30px;
    }
  }
}
