$color-tipografia: #e9ecef;
$color-tipografia-hover: #b2b5b8;
$layout-breakpoint-small: 960px;
$layout-breakpoint-extra-small: 400px;

@mixin centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor-principal-detalle {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include centrado;

  .tarjeta-imagen {
    position: relative;
    height: 600px;
    width: 400px;
    img {
      height: 100%;
      width: auto;
    }
  }

  .tarjeta-informacion {
    position: relative;
    width: 700px;
    background-color: hsla(0, 0%, 0%, 0);
    color: $color-tipografia;
    padding: 20px;

    p,
    li {
      font-size: 20px;
    }

    .titulo {
      display: flex;
      @include centrado;
      justify-content: space-between;
    }
  }
}

.fondo-opaco {
  position: absolute;
  top: 96px;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.6;
}

@media (max-width: $layout-breakpoint-small) {
  .contenedor-principal-detalle {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;

    .detalles {
      h4,
      p,
      li {
        font-size: 15px;
      }
    }
  }

  .fondo-opaco {
    height: 100%;
    padding-top: 25px;
  }
}
