$layout-breakpoint-small: 960px;

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: $layout-breakpoint-small) {
    .contenedor {
      display: flex;
      flex-direction: column;
    }
  }