$color-secundario: #212529;
$color-fondo: #fff;
$color-tipografia: #e9ecef;
$color-tipografia-hover: #b2b5b8;
$layout-breakpoint-small: 960px;
$layout-breakpoint-extra-small: 660px;

.contenedor-principal-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 600px;
  flex-grow: 0;
  flex-shrink: 0.5;

  margin: 25px;

  .encabezado {
    background-color: $color-secundario;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $color-secundario;

    .titulo-categoria {
      color: $color-tipografia;
    }
  }

  .contenedor-lista {
    display: flex;
    flex-direction: column;
    background-color: $color-fondo;
    height: 800px;
    padding: 10px;
    border: 3px solid $color-secundario;
    overflow: scroll;

    a {
      text-decoration: none;
      color: $color-secundario;
      font-size: 20px;
      &:hover {
        color: $color-tipografia-hover;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  .contenedor-principal-lista {
    min-width: 600px;
  }
}

@media (max-width: $layout-breakpoint-extra-small) {
  .contenedor-principal-lista {
    min-width: 300px;
  }
}

