$color-secundario: #212529;
$color-fondo: #fff;
$color-tipografia: #e9ecef;

.contenedor-principal-lista {

    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid pink;

    margin: 25px;

  .encabezado {
    background-color: $color-secundario;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .titulo-categoria {
      color: $color-tipografia;
    }
  }

  .contenedor-lista {
    display: flex;
    flex-direction: column;
    background-color: $color-fondo;
    width: 720px;
    height: 800px;
    padding: 10px;
    border: 2px solid red;
    overflow: scroll;
  }
}
